<div class="cx-cadastro">
    <div class="cx-cadastro-tilt">
        <h1>Cadastrar Exemplar</h1>
    </div>
    <div class="cx-cadastro-form">
        <form>
            <div class="cx-inpt-label">
                <input type="text" placeholder="Preencher aqui">
                <input type="text" placeholder="Preencher aqui">
            </div>
            <div class="cx-inpt-label">
                <input type="text" placeholder="Preencher aqui">
                <input type="text" placeholder="Preencher aqui">
            </div>
            <div class="cx-inpt-label">
                <input type="text" placeholder="Preencher aqui">
                <input type="text" placeholder="Preencher aqui">
            </div>
            <div class="cx-inpt-label">
                <input type="text" placeholder="Preencher aqui">
                <input type="text" placeholder="Preencher aqui">
            </div>
        </form>
    </div>
</div>