<h1 class="text-center text-black-50 pt-5">Lista Livros</h1>

<section>
  <div class="row mx-5">
    <div class=" col-md-3 col-6">
      <div class="d-flex flex-column align-items-center card-livro">
        <div class="foto-livro">
          <img src="http://localhost:5000/img/theme/foto-livro.webp" alt="foto livro">
        </div>
        <div class="d-flex flex-column justify-content-start">
          <h5 class="text-start text-black-50">Titulo da Obra</h5>
          <p>Breve descriçao dos temas abordados pelo livro aqui.</p>
          <p><strong>Autor:</strong> William Shakespeare</p>
        </div>
        <button class="btn">Reservar</button>
      </div>
    </div>
  </div>
</section>