<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Acervo da Biblioteca</title>
        <!-- Favicon-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/Acervo/css/styles.css" rel="stylesheet"/>

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Visite nosso acervo e escolha o seu livro!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    </ul>
                    <div class="d-flex">
                        <!--<button data-bs-toggle="modal" data-bs-target="#carrinhoModal" class="btn btn-outline-dark">
                            <i class="bi-cart-fill me-1"></i>
                            Carrinho
                            <span id="contadorCarrinho" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>-->
                        <div style="margin-left: 10px;">
                            <a class="btn btn-outline-dark" href="/admin"> <i class="bi bi-person-fill"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">BIBLIOTECA DO CENTRO UNIVERSITÁRIO</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Seja bem-vindo!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <% titulos.map(function(value, index) { %>
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="<%= global.TITULO_IMG_CAMINHO + value.tituloImagem %>" alt="Imagem do titulo" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <div class="d-flex justify-content-center small mb-2">
                                            <%= value.tituloNome %>
                                        </div>
                                        <h5 class="fw-bolder"><%= value.tituloNome %></h5>
                                        <div class="d-flex justify-content-center small mb-2">
                                            <%= value.tituloAno %>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
  
            <!-- Modal -->
            <!--<div class="modal fade" id="carrinhoModal" tabindex="-1" aria-labelledby="carrinhoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="carrinhoModalLabel"><i class="bi-cart-fill me-1"></i> Carrinho de compras</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="corpoModal">
                            <div class="table-responsive">
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Descrição</th>
                                            <th>Valor</th>
                                            <th>Quantidade</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody id="corpoTabelaCarrinho">
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer" style="display:block;">
                            <div id="valorTotalCarrinho" style="text-align:end;">
                                
                            </div>
                            <hr>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" id="btnGravarPedido" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Biblioteca 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/Acervo/js/scripts.js"></script>
        <script src="/js/Acervo/js/carrinho.js"></script>
    </body>
</html>
