body{
    background-image: url(/img/theme/library.webp);
}
main{
    display: flex !important;
    height: 100vh !important;
}
aside{
    flex: 1 !important;
    background-color: rgba(95, 56, 5, 0.795);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
    position: relative !important;
}
.cx-article{
    flex: 2 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.cx-conteudo-article{
    background-color: rgba(95, 56, 5, 0.795);
    width: 97%;
    height: 95%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.logo-livro{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-livro i{
    color: rgb(255, 255, 255) !important;
    font-size:40px;
}
.nav-link{
    border-radius: 5px !important;
    background-color: rgba(56, 44, 3, 0.774) !important;
}
.nav-link:hover{
    background-color: rgba(253, 203, 95, 0.774) !important;
}
.txt-sub-tilt{
    color:  white !important;
}
.icon-aside{
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.icon-aside i{
    font-size: 15px !important;
    background-color: rgb(110, 68, 5);
}
.edit-all{
    height: auto !important;
    min-height: 350px !important;
}