<div class="cx-list">
    <div class="cx-list-tilt">
      <h1 class="text-center text-black-50 pt-1">Empréstimos:</h1>
    </div>
    
    <div class="cx-list-users shadow-lg p-3 mb-5 bg-white rounded">
    
    </div>
  </div>