<style>
    .campoErro {
        border-color: red;
    }
</style>
<script src="/js/Usuarios/criar.js"></script>
<div class="cx-form p-3 mb-5 bg-light rounded">
    <div class="cx-tilt-form">
        <span>
            <p>Cadastrar Usuário</p>
        </span>
    </div>
    <form class="cadastro-usu p-3 mb-5 bg-white rounded">
        <div class="alert alert-success" role="alert" id="sucesso" style="display:none; width: 100%;">
        </div>
        <div class="alert alert-danger" role="alert" id="erro" style="display:none; width: 100%;">
        </div>
        <div class="cx-inpt-form">
            <div class="label-inpt">
                <label for="LaNome">Nome:</label>
                <input class="form-control tam-inpt" type="text" id="inptNome" name="inptNome"
                    placeholder="Informe o nome">
            </div>
            <div class="label-inpt">
                <label for="LaEmail">E-mail:</label>
                <input class="form-control tam-inpt" type="email" id="inptEmail" name="inptEmail"
                    placeholder="Informe o email">
            </div>
        </div>
        <div class="cx-inpt-form">
            <div class="label-inpt">
                <label for="LaCpf">CPF:</label>
                <input class="form-control tam-inpt" type="text" id="inptCpf" name="inptCpf"
                    placeholder="Informe o CPF">
            </div>
            <div class="label-inpt">
                <label for="LaTell">Telefone:</label>
                <input class="form-control tam-inpt" type="text" id="inptTelefone" name="inptTelefone"
                    placeholder="Informe o telefone de contato">
            </div>
        </div>
        <div class="cx-inpt-form">
            <div class="label-inpt">
                <label for="LaSenha">Senha:</label>
                <input class="form-control tam-inpt" type="password" id="inptSenha" name="inptSenha"
                    placeholder="Informe a Senha">
            </div>
            <div class="label-inpt">
                <label for="TipoUser">O usuario é:</label>
                <select class="tipo-usu form-select" id="selPerfil">
                    <option value="0">--Selecione--</option>
                        <% for(let i = 0; i < lista.length; i++)  { %>
                            <option value="<%= lista[i].tipoId %>"><%= lista[i].tipoNome %></option>
                        <% } %>
                </select>
            </div>
        </div>
        <div class="cx-inpt-form cx-bt" style="display: flex; justify-content: end; margin: 10px;">
            <button type="button" class="btn btn-primary btn-cad" id="btnCadastrarUsuario">Cadastrar</button>
        </div>
    </form>
</div>